.div-filtros-style-padrao{ width: 99%;}
.fitlro-field-padrao{width: 12em; margin-left: 2em !important;}
.date-de-field-size-padrao{ width: 10em; margin-left: 2.5em !important; }
.date-ate-field-size-padrao{ width: 10em; margin-left: 2.5em !important; }
.hour-field-size-padrao{ width: 8em; margin-left: 0.5em !important; }
#filtros-data-hora-padrao{display: none !important;}
#GeralFilterPadrao{display: none !important;}


.button-filtrar-padrao{
    margin-top: 1.2em !important;
    float: right !important;
    width: 6em !important;
    padding: 0.4em !important;
    border:0.1em solid rgb(60, 58, 78) !important;
    color:rgb(60, 58, 78) !important;
    text-shadow: 0 0.04em 0.04em rgb(60, 58, 78) !important;
    text-align:center !important;
    transition: all 0.15s !important;
    background-color:#4e516642 !important;
    border-radius: 5% !important;
    text-decoration:none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    outline:none !important;
    border-width: 2px !important;
}
.button-filtrar-padrao:hover{ color:rgb(82, 82, 82) !important; border-color:rgb(70, 70, 70) !important;}

.printer-button-style-padrao{float: right; margin-right: 6%; margin-top: 1.2%; cursor: pointer;}

@media screen and (max-width: 2000px) {.printer-button-style-padrao{margin-top: 1.2%;}}
@media screen and (max-width: 800px) {.printer-button-style-padrao{margin-top: 3.5%;}}