body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(216, 216, 216);
}

#div-after-end{
  width: 100% !important;
  padding: 2em !important;
  transition: all 0.15s !important;
  border-radius: 10% !important;
  text-decoration:none !important;
  cursor: pointer !important;
  font-weight: bold !important;
  outline:none !important;
  border-width: 2px !important;
  background-color: transparent;
}

.div-password-icon{float: right !important;}

.visible-password-position{
  position: absolute;
  margin-left: 2%;
  margin-top: 7.2% !important;
  cursor: pointer !important;
}

.visible-password-off-position{
  position: absolute;
  margin-left: 2%;
  margin-top: 7.2% !important;
  cursor: pointer !important;
  display: none !important;
}

.dialog-padrao{
  background-color:rgb(60, 58, 78) !important; 
  color: whitesmoke !important;
}

.selected-padrao {
  background-color: rgba(60, 58, 78, 0.733) !important;
  color: #FFF !important;
  cursor: pointer;
}

.inputs-padrao{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  text-align-last: center;
}

.half-inputs-padrao{
  width: 45%;
  float: left;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  text-align-last: center;
}

.half-inputs-padrao::placeholder{color: rgba(59, 59, 59, 0.664);}
.inputs-padrao::placeholder{color: rgba(59, 59, 59, 0.664);}

.button-style-padrao {
  background-color: rgb(60, 58, 78, 0.842) !important;
  color: white !important;
  width: 100% !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  float: right !important;
}

.button-style-padrao:hover { background-color: #535353 !important; }
  
.div-assist-padrao {
  float: left;
  width: 13%;
  margin-top: 6px;
}

.div-inputs-padrao {
  float: left;
  width: 100%;
  margin-top: 5px;
}

.row:after { content: ""; display: table; clear: both; }

.btn-padrao{
  margin-top: 1.6em !important;
  margin-right: 1.2em !important;
  float: right;
  width: 8.3em !important;
  padding: 0.7em !important;
  border:0.1em solid rgb(60, 58, 78) !important;
  color:rgb(60, 58, 78) !important;
  text-shadow: 0 0.04em 0.04em rgb(60, 58, 78) !important;
  text-align:center !important;
  transition: all 0.15s !important;
  background-color:#4e516642 !important;
  border-radius: 5% !important;
  text-decoration:none !important;
  cursor: pointer !important;
  outline:none !important;
  border-width: 2px !important;
  font-weight: bold !important;
  font-size: 83% !important;
}
.btn-padrao:hover{ color:rgb(82, 82, 82) !important; border-color:rgb(70, 70, 70) !important; }

@media only screen and (max-width: 2000px){#div-after-end{display: none !important; }}
@media only screen and (max-width: 900px){#div-after-end{display: flex !important; }}

code { font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }