body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(216, 216, 216);
}


#div-after-end{
  width: 100% !important;
  padding: 2em !important;
  transition: all 0.15s !important;
  border-radius: 10% !important;
  text-decoration:none !important;
  cursor: pointer !important;
  font-weight: bold !important;
  outline:none !important;
  border-width: 2px !important;
  background-color: transparent;
}


.div-password-icon{
  float: right !important;
}


.visible-password-position{
  position: absolute;
  margin-left: 2%;
  margin-top: 7.2% !important;
  cursor: pointer !important;
}


.visible-password-off-position{
  position: absolute;
  margin-left: 2%;
  margin-top: 7.2% !important;
  cursor: pointer !important;
  display: none !important;
}


.dialog-padrao{
  background-color:rgb(60, 58, 78) !important; 
  color: whitesmoke !important;
}


.selected-padrao {
  background-color: rgba(60, 58, 78, 0.733) !important;
  color: #FFF !important;
  cursor: pointer;
}


.inputs-padrao{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  text-align-last: center;
}


.half-inputs-padrao{
  width: 45%;
  float: left;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  text-align-last: center;
}


.half-inputs-padrao::placeholder{
  color: rgba(59, 59, 59, 0.664);
}


.inputs-padrao::placeholder{
  color: rgba(59, 59, 59, 0.664);
}


.button-style-padrao {
  background-color: rgb(60, 58, 78, 0.842) !important;
  color: white !important;
  width: 100% !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  float: right !important;
  margin-top: 2% !important;
}


.button-style-padrao:hover { 
  background-color: #535353 !important; 
}
  

.div-assist-padrao {
  float: left;
  width: 13%;
  margin-top: 6px;
}


.div-inputs-padrao {
  float: left;
  width: 100%;
  margin-top: 5px;
}


.row:after { 
  content: ""; 
  display: table; 
  clear: both; 
}


.btn-padrao{
  margin-top: 1.6em !important;
  margin-right: 1.2em !important;
  float: right;
  width: 8.3em !important;
  padding: 0.7em !important;
  border:0.1em solid rgb(60, 58, 78) !important;
  color:rgb(60, 58, 78);
  text-shadow: 0 0.04em 0.04em rgb(60, 58, 78) !important;
  text-align:center !important;
  transition: all 0.15s !important;
  background-color:#4e516642 !important;
  border-radius: 5% !important;
  text-decoration:none !important;
  cursor: pointer !important;
  outline:none !important;
  border-width: 2px !important;
  font-weight: bold !important;
  font-size: 83% !important;
}


.btn-padrao:hover{ 
  color:rgb(82, 82, 82) !important; 
  border-color:rgb(70, 70, 70) !important; 
}


@media only screen and (max-width: 2000px){#div-after-end{display: none !important; }}
@media only screen and (max-width: 900px){#div-after-end{display: flex !important; }}


@media screen and (max-width: 1370px) { .div-inputs-padrao { margin-top: 1px;}}
@media screen and (max-width: 1290px) { .div-inputs-padrao { margin-top: 8px;}}
@media screen and (max-width: 600px) { .div-assist-padrao, .div-inputs-padrao { width: 100%; margin-top: 0; }}


code { 
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; 
}


.table-padrao{
  float: left;
  position: relative;
  margin-top: 0.3em !important;
  margin-left: 0.6em !important;
  width: 99% !important;
}


.table-padrao-container{
  max-height: 45em !important;
  border-style: 'Solid' !important;
  border-radius: 5px !important;
  margin-top: 10px !important;
}


tr {
  height: 35px !important;
  background-color: rgba(206, 206, 206, 0.795);
}


th {
  font-size: 100% !important;
  font-weight: bold !important;
  max-width: 125px;
  min-width: 125px;
  padding: 0 !important;          
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
  background-color: rgb(60, 58, 78) !important;
  color: whitesmoke !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgb(60, 58, 78) !important;
}


td {
  font-size: 100% !important;
  font-weight: bolder !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  padding: 0 !important;
  text-align: center !important;
  border-color: rgba(207, 207, 207, 0.527) !important;
  border-style: solid !important;
  border-width: 1px !important;
  cursor: pointer !important;
}


tbody tr:nth-child(odd){
  background-color: rgb(202, 202, 202);
  color: #fff;
}


@media only screen and (max-width: 1600px){.table-padrao-container{max-height: 35em !important;}}
@media only screen and (max-width: 1400px){.table-padrao-container{max-height: 45em !important;}}
@media only screen and (max-width: 1366px){.table-padrao-container{max-height: 25.8em !important;}}
@media only screen and (width: 1280px) and (height: 800px){.table-padrao-container{max-height: 30em !important;}}


.menu-superior{
  width: 100%;
  height: 3.4em;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgba(60, 58, 78, 0.795);
  border-width: 1px;
  background-color: rgba(60, 58, 78, 0.226);
}


.box-perfil{
  float: right !important;
  width: 45px;
  height: 45px;
  margin-top: 0.1em;
  margin-right: 0.7em !important;
  border-radius: 50%;
  background-color: #50526356;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(60, 58, 78);
  text-align: center !important;
  font-weight: bold;
  font-size: x-large;
  font-style: italic;
}


.user-info{
  width: 100%;
  border-bottom-style: solid;
  height: 2.2em !important;
  text-align: center;
  font-weight: bold;
}


.icons-menu{
  margin-left: 0.6em;
  margin-top: 0.6em;
  float: left !important;
  cursor: pointer;
  color: rgb(25, 75, 27) !important;
}


.buttons-menu{
  float: left !important;
  padding-top: 1.15em !important;
  text-transform: capitalize !important;
  font-weight: bold !important;
}


#divProgressProducao {
  float: left;
  width: 45%;
  margin-top: 3%;
  border-radius: 10%;
  background-color: rgb(150, 150, 150);
  text-align: center;
}


#barProgressLine {
  width: 1%;
  height: 25px;
  font-weight: bold;
  border-radius: 10%;
  padding-top: 0.15em;
  font-size: 90%;
  background-color: green;
}


.filter-fields{
  width: 90%;
  margin-left: 5%;
}


.form-control-label{
  width: 45%; 
  float: left;
}


.textfield-filters{
  width: 50%; 
  float: left;
  text-align-last: center;
}