.not-authenticated{
    width: 60%; 
    height: 20%; 
    position: relative; 
    left: 50%; 
    margin-top: 8em; 
    text-align: center;
    font-size: 140%;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.div-voltar-authenticated{
    width: 60%; 
    margin-left: 20%; 
    margin-top: 5%; 
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}

.btn-voltar-authenticated{
    width: 7em !important;
    padding: 0.4em !important;
    border:0.1em solid rgb(60, 58, 78) !important;
    color:rgb(60, 58, 78) !important;
    text-shadow: 0 0.04em 0.04em rgb(60, 58, 78) !important;
    text-align:center !important;
    transition: all 0.15s !important;
    background-color:#4e516642 !important;
    border-radius: 5% !important;
    text-decoration:none !important;
    cursor: pointer !important;
    outline:none !important;
    border-width: 2px !important;
    font-weight: bold !important;
    font-size: 83% !important;
}
  
.btn-voltar-authenticated:hover{ color:rgb(82, 82, 82) !important; border-color:rgb(70, 70, 70) !important; }


.div-after-end-notAuth{
    width: 100% !important;
    padding: 2em !important;
    transition: all 0.15s !important;
    border-radius: 10% !important;
    text-decoration:none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    outline:none !important;
    border-width: 2px !important;
    background-color: transparent;
}